<div class="pt-4">
  <div
    class="card text-bg-dark text-center bg-opacity-75 rounded-5 border border-primary border-5 border-opacity-10"
  >
    <div class="card-body functions">
      <div class="row">
        <div
          class="col d-flex flex-column justify-content-center align-items-center rounded-4"
        >
          <img src="images/accounts.png" alt="Accounts" /> Accounts
        </div>
        <div
          class="col d-flex flex-column justify-content-center align-items-center rounded-4"
        >
          <img src="images/card.png" alt="Cards" /> Cards
        </div>
        <div
          class="col d-flex flex-column justify-content-center align-items-center rounded-4"
        >
          <img src="images/bill.png" alt="Payments" />
          Payments
        </div>
      </div>
      <div class="row">
        <div
          class="col d-flex flex-column justify-content-center align-items-center rounded-4"
        >
          <img src="images/qr.png" alt="Scan" />
          Scan
        </div>
        <div
          class="col d-flex flex-column justify-content-center align-items-center rounded-4"
        >
          <img src="images/star.png" alt="Star" />
          Favorites
        </div>
        <div
          class="col d-flex flex-column justify-content-center align-items-center rounded-4"
        >
          <img src="images/transfer.png" alt="Transfer" />
          Transfers
        </div>
      </div>
      <div class="row">
        <div
          class="col d-flex flex-column justify-content-center align-items-center rounded-4"
        >
          <img src="images/service.png" alt="Services" /> Services
        </div>
        <div
          class="col d-flex flex-column justify-content-center align-items-center rounded-4"
        >
          <img src="images/docu.png" alt="Document" /> New Account
        </div>
        <div
          class="col d-flex flex-column justify-content-center align-items-center rounded-4"
        >
          <img src="images/book.png" alt="Book" /> Checkbook
        </div>
      </div>
    </div>
  </div>
</div>
