<div class="money pt-4">
  <div
    class="card text-bg-dark rounded-4 border border-primary border-5 border-opacity-10"
  >
    <div class="card-body rounded-4">
      <div class="amount">
        <h3>$ 1,000</h3>
        <p class="text-secondary">
          <span class="badge bg-primary">Default</span> Main Account
        </p>
      </div>
      <div class="d-flex h5 pt-4">
        <a
          href="#"
          class="link-light link-underline-opacity-0"
          style="padding-right: 20px"
          ><i class="bi bi-arrow-down-left-circle text-success"></i> Receive
          Money</a
        >
        <a href="#" class="link-light link-underline-opacity-0"
          ><i class="bi bi-arrow-up-right-circle text-danger"></i> Send Money</a
        >
      </div>
    </div>
  </div>
</div>
