<div class="pt-4">
  <div
    class="card text-bg-dark rounded-4 border border-primary border-5 border-opacity-10"
  >
    <div class="card-body">
      <div class="row">
        <div class="col">
          <p class="m-0"><i class="bi bi-bug"></i> Bugs</p>
        </div>
        <div class="col">
          <p class="m-0"><i class="bi bi-patch-question"></i> Help</p>
        </div>
        <div class="col-5">
          <p class="m-0"><i class="bi bi-telephone"></i> Live Support</p>
        </div>
      </div>
    </div>
  </div>
</div>
